.trip-tab{
height: 201px;
background-image: linear-gradient(to right, #41d0f0, #0d5dc3) !important;
}
.trip-header{
  font-family: Futura;
  font-size: 36px;
  font-weight: bold;
}

.tab{
  background-color: #f4f5fa;
  height: 60px;
}