body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  height:100%;
  min-width:320px;
  background: #fff !important;
}

*{
  font-size:14px;
  box-sizing:border-box;
}

@media screen and (max-width: 1000px) {
  *{
    font-size:12px;
  }
}

html{
  width:100%;
  height:100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width:100%;
  height:100%
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:0.8rem;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size:0.8rem;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size:0.8rem;
}
:-moz-placeholder { /* Firefox 18- */
  font-size:0.8rem;
}


.avatar-icon {
  width: 45px;
  height: 45px;
}

.avatar-icon-lg {
  width: 80px;
  height: 80px;
}

.avatar-icon-sm {
  width: 25px;
  height: 25px;
}

.avatar-icon-xs {
  width:20px;
  height:20px;
}


/* This is for table item align and vertical */
@media screen and (max-width: 1000px) {
  .text-position{
    text-align: right;
  }
}

a.no-underline:hover,a.no-underline:focus {
  text-decoration: none;
}

button.no-underline:hover,button.no-underline:focus{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,h7 {
  margin-bottom:0 !important;
}

button{
  border:0;
  background-color:#fff
}

.table > tbody > tr > td {
  vertical-align: middle !important;
  cursor: pointer;
}

.hm-main-textColor {
  color:#32325d !important
}
.hm-main-textColor-sub {
  color: #d6a748 !important;
}

.hm-main-bgColor {
  background-color: #32325d !important;
}

.hm-main-button-outline {
  border: 1px solid white!important;
  border-radius: 26px !important;
}
.hm-main-button-white-outline{
  border: 1px solid white !important
}
.hm-main-text-12 {
  font-size: 12px !important;
  letter-spacing: 1px;
}
.hm-main-text-14 {
  font-size: 14px !important;
  letter-spacing: 1px;
}
.hm-main-text-16{
  font-size: 16px !important;
  letter-spacing: 1px;
}
.hm-main-text-18 {
  font-size: 18px !important;
  letter-spacing: 1px;
}

.hm-main-text-22 {
  font-size: 22px !important;
  letter-spacing: 1px;
}
.hm-main-text-28 {
  font-size: 28px !important;
  letter-spacing: 1px;
}

.hm-main-text-60 {
  font-size: 60px !important;
  letter-spacing: 1px;
}

.hm-header-margin{
  margin-top: 33px !important;
  margin-bottom: 32px !important;
}

.hm-input-height{
  height: 48px !important;
}
.hm-button-bgColor-sub {
  background-color: #d6a748 !important;
}

.hm-margin-top-35{
  margin-top: 35px;
}

.hm-pointer-cursor{
  cursor: pointer !important;
}

.text-grey{
  color:#8898aa
}

.bg-purple{
  background-color: #5e72e4 !important
}

.custom-radius-top-left{
  border-top-left-radius:  6px !important;
}
.custom-radius-top-right{
  border-top-right-radius:  6px !important;

}
