.header-text{
  margin-right: 20% !important;
  margin-top: 359px;
  text-align: right;
  font-family: Futura;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
}

.dashboard-form{
  margin-top: 263px;
  width: 400px;
  height: 506px;
  text-align: center;
}

.header-container{
  position: relative;
}
.main-nav{
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 100%;
}

.main-info{
  position: absolute !important;
  top: 0px;
  left: 0px;
}

.header-text-sub{
  text-align: left;
  font-size: 56px;
  font-family: Futura;
  font-weight: bold;
}
.ant-calendar-picker{
  width: 100%;
}

.ant-input{
  height: 48px !important;
  border: none !important;
  color: #32325d !important;
  font-weight: bold;
  font-size: 16px;
}

.ant-input::placeholder{
  color: #8898aa !important;
  font-weight: bold;
  font-size: 16px;
}

.ant-time-picker{
  width: 100% !important;
}

.ant-time-picker-input{
  height: 48px !important;
  border: none !important;
  color: #32325d !important;
  font-weight: bold;
  font-size: 16px;
}

.ant-time-picker-input::placeholder{
  color: #8898aa !important;
  font-weight: bold;
  font-size: 16px;
}

.dashboard-form-header{
  height: 75px;
  text-align:center;
  padding-bottom:3px;
  background: /* gradient can be an image */
    linear-gradient(
      to left, 
      #355cff, #49e3fa
    )
    left 
    bottom
    no-repeat; 
  background-size:100% 3px ;/* if linear-gradient, we need to resize it */
}

.price-button{
  height: 52px;
  border-radius: 26px !important;
  box-shadow: 0 5px 15px 0 rgba(94, 114, 228, 0.8);
}

.card-margin-fix-bottom-sub{
  margin-bottom: 87px !important
}

.ant-calendar-picker-icon svg{
  color: rgba(136, 152, 170, 0.5) !important
}

.main-bg{
  position: absolute;
}

.main-wave{
  position: absolute;
  right: 0;
  width: 120vh !important;
}

.wave-top{
  position: absolute;
  right: 0;
  width: 108vh !important;
  height: 35vh;
}

.orange-ball{
  position: absolute;
  right: 98vh;
  top: 15vh;
  width: 67px;
}